extend main

block head
	link(rel="stylesheet" href="/css/home.css")
	title Home â— OoRT Cloud

block container
	#container
		table
			tr
				td
					include sidebar
				td
					include content