link(rel="stylesheet" href="/css/sidebar.css")

#sidebar
	h2
		u Search Tags:
	#formContainer
		form(method="GET")
			input#searchBox(type="text" name="q")
			input#submitBtn(type="submit" value="Search")
	h2 
		u Popular Tags:
	each val, index in page.sideTags
		p #[a.boxedlink(href="/?q=" + val._id) #{val._id}#[b (#{val.ammount})]]