#container {
	width: 350px;
}
#message > div {
	background-color: #FFF;
	border-radius: 10px;
	padding: 5px;
	margin-bottom: 10px;
}
#message > div > *:last-child {
	margin-bottom: 3px;
}
#message a.boxedlink {
	margin: 0px 5px; 
}