#container {
	margin: 0px auto;
}
#container table {
	border: 0px;
	border-collapse: collapse;
}
#container > table > tbody > tr > td:nth-child(1) {
	vertical-align: top;
	background-color: #aaa;
	min-width: 250px;
	max-width: 250px;
}
#container > table > tbody > tr > td:nth-child(2) {
	vertical-align: top;
	background-color: #eee;
	width: 100%;
}