#header {
	background-color: #464;
}
#header #titlebox {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 250px;
	height: 75px;
	background-color: #444;
	color: #fff;
	font-size: 25px;
}
#header #linkbox {
	color: #ddd;
	display: inline-block;
	vertical-align: bottom;
	margin-bottom: 5px;
}
#header #linkbox p {
	margin-bottom: 0px;
}
#header #linkbox span {
	margin-left: 3px; 
	margin-right: 5px; 
}