#container {
	width: 800px;
}
#message #userUploads {
	background-color: #FFF;
	border-radius: 10px;
	padding: 5px;
	margin-top: 10px;
}
#userUploads > table > tbody > tr:last-child > td > p {
	margin-bottom: 0px;	
}
#message #userUploads > *:last-child {
	margin-bottom: 3px;
}